<div id="bio">
  <h3>A Lust for Code</h3>
  <p>I love coding. It's logical, creative, and endless in application. Full of documentation and libraries, one could never go without something to learn in the world of Developers.</p>
  <p>I want to build apps so that I may participate in an environment where the main focus is to create a product meant solely for human consumption as a means to make thier lives easier, more productive, and hopefully more responsible.</p>
  <p>I have just completed The Iron Yard's Front End Engineering course, a 12-week coding immersive boot-camp designed to equipt its alumni with knowledge in the latest frameworks and industry best practices. They even emulate an Agile environment. Check out my projects to see what I've learned.</p>
</div>