<div id="hobbies">
  <div class="hobby">
    <h3>Piano</h3>
    <p>Playing the piano is probably the closest thing I've found to meditation.  My go to destresser? Play the piano for an hour and just listen to the sounds my mood puts out.</p>
  </div>
  <div class="hobby">
    <h3>Travel</h3>
    <p>Adventurous by nature. The last five years of my life have finally allowed me to travel. I've been to 27 states and 6 countries on three continents. The perspective and experience gained through travel is unlike any other.</p>
  </div>
  <div class="hobby">
    <h3>Curiosty</h3>
    <p>I just can't help it, my brain is constantly asking questions.  That doesn't mean I'll voice those questions, but just know, when you see me sitting quitely, pensively to the side, I'm busy anyalyzing, content as can be, detailing out the reason inside our existence.</p>
  </div>
</div>