<div id="projects" class="slowFade">
    <div class="project">
      <div class="container" ng-click="vm.go('http://my-garden.surge.sh/#/')">
        <img src="https://s16.postimg.org/t7vfxps5h/Screen_Shot_2016_08_28_at_8_14_17_PM.png">
        
        <div class="spec">
          <h5><span class="green">my</span><span class="orange">Garden</span></h5>
          <p>A garden library and space planner.  AngularJS application with click and drag functionality.</p>
        </div>
      </div>

    </div>

    <div class="project">
      <div class="container" ng-click="vm.go('http://tiy-humdrum-cagesmashrefactor.surge.sh/')">
        <img class="smash" src="https://s3.postimg.org/3wggvajv7/Screen_Shot_2016_08_28_at_8_25_47_PM.png">
        
        <div class="spec">
          <h5 class="yellow">cageSmash</h5>
          <p>A cartoonish and slightly grungy rendition of the classic Whack-a-Mole. jQuery used for game animations.</p>
          <a href="https://github.com/jjrajani/Week-6-Project"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
      </div>

    </div>

    <div class="project">
      <div class="container" ng-click="vm.go('http://tiy-humdrum-project-instagram-cone.surge.sh/#/')">
        <img src="https://s12.postimg.org/j9ilv9wal/Screen_Shot_2016_08_28_at_8_45_51_PM.png">
        
        <div class="spec" >
          <h5 class="pineapple">pineapple</h5>
          <p>An angular app to store images.</p>
          <a href="https://github.com/jjrajani/Week-7-Project-Instagram-Clone"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
      </div>

    </div>
  </div>