
// BC0097 bright purple
// 701D5F dark purple
// 936080 mid grey purple
// 9B768E light purple
$red: #C90059; // red
#nav {
  display: flex;
  a {
    padding: 0.6vh 2vw;
    margin: 0 0 2vh 0;
    font-size: 0.8em;
    transition: opacity 0.5s;
    &.active {
      border-bottom: solid 1px lighten(grey, 20%);
      color: #701D5F;
      // color: purple;
      font-weight: bold;
      &:hover {
        opacity: 1;
      }
    }
    &:hover {
      opacity: 0.5;
    }
    &:focus {
      color: #C90059;
    }
  }
}
